Repository DINGIRABZU/ABZU, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ABZU/patents, @ABZU/neoabzu-core, @ABZU/neoabzu-memory, @ABZU/crown, @ABZU/spiral-os

feat: add rust orchestrator and insight engine
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/route_query.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/orchestrator.rs
Owners: none

feat: embed-backed vector service with client tests
  CHANGELOG.md
  NEOABZU/Reignition.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/grpc.rs
  NEOABZU/vector/tests/test_grpc_python.py
  onboarding_confirm.yml
  persona/src/lib.rs
Owners: none

feat: align crown routing with python
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/legacy_parity.rs
  NEOABZU/crown/tests/memory_query.rs
  NEOABZU/crown/tests/python_parity.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Owners: none

test(rag): verify merge orchestration
  NEOABZU/docs/feature_parity.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/merge.rs
  NEOABZU/rag/tests/orchestrator.rs
  docs/feature_parity.md
  docs/system_blueprint.md
Owners: none

feat: expand insight reasoning
  NEOABZU/Cargo.lock
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/index.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
  NEOABZU/pyproject.toml
  crown_router.py
  docs/INDEX.md
  docs/system_blueprint.md
  pyproject.toml
Owners: @ABZU/crown

docs: align crate docs and add reference checks
  .pre-commit-config.yaml
  component_index.json
  docs/blueprint_spine.md
  docs/component_index.md
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  scripts/verify_doc_refs.py
Owners: none

feat(ci): add rust checks and doc reference validation
  .github/workflows/ci.yml
  docs/CI_GUIDE.md
  docs/INDEX.md
  scripts/verify_doc_refs.py
Owners: none

feat: add shared instrumentation and tracing hooks
  Cargo.lock
  Cargo.toml
  crown/Cargo.toml
  crown/src/lib.rs
  docs/INDEX.md
  docs/observability.md
  docs/system_blueprint.md
  fusion/Cargo.toml
  fusion/src/lib.rs
  instrumentation/Cargo.toml
  instrumentation/examples/basic.rs
  instrumentation/src/lib.rs
  numeric/Cargo.toml
  numeric/src/lib.rs
  persona/Cargo.toml
  persona/src/lib.rs
  rag/Cargo.toml
  rag/src/lib.rs
Owners: none

feat: port crown router to rust
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/legacy_parity.rs
  NEOABZU/crown/tests/python_parity.rs
  NEOABZU/crown/tests/razor_integration.rs
  NEOABZU/crown/tests/route_decision.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  crown_router_rs.py
Owners: @ABZU/crown

feat: add kimicho K2 fallback
  NEOABZU/Cargo.toml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
Owners: none

Add Kimicho fallback for handshake failures
  razar/boot_orchestrator.py
Owners: none

test: add Kimicho K2 fallback tests
  NEOABZU/Cargo.toml
  NEOABZU/k2coder/Cargo.toml
  NEOABZU/k2coder/src/lib.rs
  NEOABZU/k2coder/tests/fallback.rs
Owners: none

I mapped the legacy fallback subsystem in migration_crosswalk.md to the neoabzu-kimicho crate, expecting clearer Rust migration guidance
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Owners: none

docs: note rust crown router migration
  CHANGELOG.md
  CHANGELOG_razar.md
  NEOABZU/crown/tests/razor_integration.rs
  NEOABZU/docs/migration_crosswalk.md
  README.md
  component_index.json
  crown_router.py
  crown_router_rs.py
  docs/RAZAR_AGENT.md
  docs/component_index.md
  docs/migration_crosswalk.md
  docs/onboarding/README.md
  instrumentation/src/lib.rs
  kimicho.py
  onboarding_confirm.yml
  pyproject.toml
  rag/src/lib.rs
  setup.cfg
Owners: @ABZU/crown

feat: add tracing hooks and kimicho integration tests
  .github/workflows/ci.yml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
  NEOABZU/kimicho/tests/razor_integration.rs
  crown/Cargo.toml
  crown/src/lib.rs
  docs/migration_crosswalk.md
  docs/observability.md
  docs/system_blueprint.md
  scripts/check_blueprints_and_tests.py
Owners: none

docs: outline Rust migration crosswalk
  docs/INDEX.md
  docs/migration_crosswalk.md
Owners: none

docs: add migration flow diagrams
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/doctrine_index.md
  docs/figures/pyo3_interfaces.mmd
  docs/figures/razor_crown_kimicho_flow.mmd
  docs/figures/rust_crate_boundaries.mmd
  docs/system_blueprint.md
Owners: none

docs: add Rust migration rules and APSU placement guidance
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
Owners: none

docs: audit python legacy modules
  NEOABZU/crown/README.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/kimicho/README.md
  docs/INDEX.md
  docs/migration_crosswalk.md
  docs/python_legacy_audit.md
Owners: none

Add tests and docs for NeoABZU crates
  NEOABZU/fusion/tests/invariants.rs
  NEOABZU/memory/tests/query.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  tests/agents/razar/test_crown_handshake.py
Owners: @ABZU/neoabzu-memory

feat: harden kimicho k2 fallback
  NEOABZU/kimicho/src/lib.rs
Owners: none

chore: restore failure inventory
  razar/boot_orchestrator.py
Owners: none

test: assert K2 coder error path in Kimicho fallback
  NEOABZU/k2coder/tests/fallback.rs
Owners: none

docs: document kimicho fallback
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Owners: none

refactor: remove python wrappers
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/core.py
  NEOABZU/neoabzu/crown.py
  NEOABZU/neoabzu/fusion.py
  NEOABZU/neoabzu/memory.py
  NEOABZU/neoabzu/numeric.py
  NEOABZU/neoabzu/persona.py
  NEOABZU/neoabzu/rag.py
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  crown_router.py
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/architecture_overview.md
  docs/blueprint_spine.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/crown_manifest.md
  docs/doctrine_index.md
  docs/feature_parity.md
  docs/figures/pyo3_interfaces.mmd
  docs/ignition_flow.md
  docs/migration_crosswalk.md
  docs/python_legacy_audit.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  kimicho.py
Owners: @ABZU/crown

feat: add MCP wrappers for narrative and primordials
  connectors/narrative_mcp.py
  connectors/primordials_mcp.py
  docs/INDEX.md
  docs/communication_interfaces.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/system_blueprint.md
  mcp/gateway.py
  onboarding_confirm.yml
  tests/communication/test_mcp_wrappers.py
Owners: none

docs: note dependency audit and release gates
  .github/workflows/release_checklist.yml
  docs/release_notes.md
Owners: none

test: verify kimicho fallback from crown
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  docs/INDEX.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Owners: none

feat(insight): expose embedding hooks for crown
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/insight.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
Owners: none

docs(rag): document connector API
  CHANGELOG.md
  CHANGELOG_rag_orchestrator.md
  NEOABZU/docs/connector_api.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/merge.rs
  NEOABZU/rag/tests/orchestrator.rs
  NEOABZU/rag/tests/retrieval.rs
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
Owners: none

feat: shard vector server and add client
  NEOABZU/Reignition.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/load_test.py
  src/bin/vector_client.py
Owners: none

feat: document doctrine reference rule\n\nI updated core docs and CI to enforce doctrine references, expecting future changes to link back to the doctrine index.
  .github/workflows/ci.yml
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Owners: none

I removed deprecated crown and rag routers on Python to route via Rust crates, expecting simplified orchestration
  CHANGELOG_rag_orchestrator.md
  INANNA_AI/main.py
  crown_query_router.py
  docs/INDEX.md
  docs/onboarding/README.md
  docs/testing/failure_inventory.md
  invocation_engine.py
  music_llm_interface.py
  pyproject.toml
  rag/orchestrator.py
  rag/retriever.py
  src/cli/console_interface.py
  src/spiral_os/start_spiral_os.py
  start_spiral_os.py
  tests/crown/test_query_router.py
  tests/test_spiral_rag.py
Owners: @ABZU/crown, @ABZU/spiral-os

feat: add telemetry hooks
  Cargo.lock
  NEOABZU/Cargo.lock
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/vector/src/lib.rs
  crown/Cargo.toml
  crown/src/lib.rs
  docs/INDEX.md
  docs/observability.md
  docs/release_notes.md
  rag/Cargo.toml
  rag/src/lib.rs
Owners: none

feat: add chakrapulse bus and health pulses
  INANNA_AI/utils.py
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/chakrapulse/Cargo.toml
  NEOABZU/chakrapulse/src/lib.rs
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  docs/INDEX.md
  docs/chakrapulse_spec.md
  docs/system_blueprint.md
  razar/health_checks.py
Owners: none

chore: consolidate nazarick agent registry
  agents/nazarick/agent_registry.json
  agents/nazarick/albedo/agent_manifest.json
  agents/nazarick/cocytus/agent_manifest.json
  agents/nazarick/demiurge/agent_manifest.json
  agents/nazarick/gargantua/agent_manifest.json
  agents/nazarick/nazarick_core_architecture.md
  agents/nazarick/nazarick_memory_blueprint.md
  agents/nazarick/pandora/agent_manifest.json
  agents/nazarick/pleiades/agent_manifest.json
  agents/nazarick/sebas_tiara/agent_manifest.json
  agents/nazarick/service_launcher.py
  agents/nazarick/shalltear/agent_manifest.json
  docs/INDEX.md
  docs/chakra_architecture.md
  docs/index.md
  docs/nazarick_agent_profiles.md
  docs/nazarick_agents.md
  onboarding_confirm.yml
Owners: none

feat: emit and stream Bana narratives
  agents/bana/inanna_bridge.py
  bana/narrative.py
  bana/narrative_api.py
  docs/INDEX.md
  docs/narrative_engine_GUIDE.md
  docs/narrative_framework.md
  docs/testing/failure_inventory.md
  web_console/main.js
  web_console/operator.js
Owners: none

Include Rust crates in component index
  component_index.json
  docs/INDEX.md
  docs/component_index.md
  scripts/build_component_index.py
  scripts/component_inventory.py
Owners: none

docs: crosslink migration references
  docs/CROWN_OVERVIEW.md
  docs/RAZAR_AGENT.md
  docs/The_Absolute_Protocol.md
  docs/migration_crosswalk.md
  docs/persona_api_guide.md
  docs/rag_pipeline.md
  docs/system_blueprint.md
  docs/vector_memory.md
Owners: none

docs: add doctrine references to narrative guides
  docs/narrative_engine_GUIDE.md
  docs/narrative_framework.md
Owners: none

.github/CODEOWNERS:

# This file defines code ownership for key areas of the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

patents/                 @ABZU/patents
NEOABZU/core/            @ABZU/neoabzu-core
NEOABZU/memory/          @ABZU/neoabzu-memory
crown_*.py               @ABZU/crown
src/spiral_os/           @ABZU/spiral-os
