Repository DINGIRABZU/ABZU, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ABZU/patents, @ABZU/neoabzu-core, @ABZU/neoabzu-memory, @ABZU/crown, @ABZU/spiral-os

.github/CODEOWNERS:

# This file defines code ownership for key areas of the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

patents/                 @ABZU/patents
NEOABZU/core/            @ABZU/neoabzu-core
NEOABZU/memory/          @ABZU/neoabzu-memory
crown_*.py               @ABZU/crown
src/spiral_os/           @ABZU/spiral-os

Create herojourney_engine.md
  NEOABZU/docs/herojourney_engine.md
Owners: none

Create SUMERIAN_33WORDS.md
  NEOABZU/docs/SUMERIAN_33WORDS.md
Owners: none

docs: cross-link onboarding and update key confirmations
  NEOABZU/docs/onboarding.md
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Owners: none

feat: expand sumerian lexicon
  NEOABZU/core/resources/lexicon.ron
  NEOABZU/docs/OROBOROS_Lexicon.md
  NEOABZU/docs/QNL_Library.md
Owners: @ABZU/neoabzu-core

feat: trace hero journey stages
  NEOABZU/Cargo.lock
  NEOABZU/core/Cargo.toml
  NEOABZU/core/src/evaluator.rs
  NEOABZU/docs/core_usage.md
  NEOABZU/docs/herojourney_engine.md
  NEOABZU/narrative/src/journey.rs
  NEOABZU/narrative/src/lib.rs
Owners: @ABZU/neoabzu-core

Add stage-aware inevitability reduction
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/src/lib.rs
  NEOABZU/core/tests/hero_journey.rs
Owners: @ABZU/neoabzu-core

docs: link hero journey and Sumerian lexicon
  NEOABZU/docs/Oroboros_Engine.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Owners: none

feat(crown): add inevitability route
  NEOABZU/crown/src/lib.rs
Owners: none

document first consecrated computation
  NEOABZU/docs/Oroboros_Core.md
  NEOABZU/docs/index.md
  docs/blueprint_spine.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Owners: none

docs: clarify onboarding references
  NEOABZU/docs/onboarding.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Owners: none

Add inevitability reduction ceremony
  NEOABZU/core/resources/lexicon.ron
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/tests/ceremony.rs
  docs/INDEX.md
  docs/OROBOROS_Engine.md
Owners: @ABZU/neoabzu-core

feat: add fusion and numeric crates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  component_index.json
  docs/OROBOROS_Engine.md
  fusion/Cargo.toml
  fusion/src/lib.rs
  numeric/Cargo.toml
  numeric/src/lib.rs
Owners: none

test: crown memory integration
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/memory_query.rs
  NEOABZU/memory/src/lib.rs
  docs/INDEX.md
  docs/migration_crosswalk.md
Owners: @ABZU/neoabzu-memory

feat: add Rust persona, crown, and rag crates
  Cargo.lock
  Cargo.toml
  crown/Cargo.toml
  crown/src/lib.rs
  crown_router_rs.py
  docs/INDEX.md
  docs/feature_parity.md
  docs/testing/failure_inventory.md
  persona/Cargo.toml
  persona/src/lib.rs
  rag/Cargo.toml
  rag/src/lib.rs
Owners: @ABZU/crown

Add maturin targets and Python wrappers
  CHANGELOG.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/crown.py
  NEOABZU/neoabzu/fusion.py
  NEOABZU/neoabzu/persona.py
  NEOABZU/neoabzu/rag.py
  NEOABZU/pyproject.toml
  docs/INDEX.md
  docs/core_usage.md
Owners: none

docs: record narrative and numeric crates
  CHANGELOG.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Owners: none

Use explicit PyAny extraction
  NEOABZU/memory/tests/query.rs
Owners: @ABZU/neoabzu-memory

chore: skip py in tracing instrumentation
  NEOABZU/core/src/lib.rs
  NEOABZU/fusion/src/lib.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/vector/src/lib.rs
Owners: @ABZU/neoabzu-core

Add boot sequence initialization
  orchestration_master.py
  scripts/__init__.py
  scripts/boot_sequence.py
Owners: none

Add python-multipart dependency
  dev-requirements.txt
  requirements.txt
Owners: none

Ensure verify_chakra_monitoring can import agents
  scripts/verify_chakra_monitoring.py
Owners: none

feat: add boot sequence launcher
  docs/INDEX.md
  docs/developer_onboarding.md
  scripts/boot_sequence.py
Owners: none

chore: expose allowed test registration
  tests/conftest.py
Owners: none

Handle optional agents package in chakra monitoring
  onboarding_confirm.yml
  scripts/verify_chakra_monitoring.py
Owners: none

test: import PyAny for memory query
  NEOABZU/memory/tests/query.rs
Owners: @ABZU/neoabzu-memory

test: add opencv import check
  tests/conftest.py
  tests/test_opencv_import.py
Owners: none

test: replace placeholder metrics with arrays
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Owners: none

test: stub RandomForestClassifier
  tests/test_emotion_classifier.py
Owners: none

feat: expose novelty threshold for feedback
  src/core/feedback_logging.py
Owners: none

Add boot sequence resources for tests
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/conftest.py
  tests/test_boot_sequence.py
Owners: none

Define allowed tests early
  tests/conftest.py
Owners: none

chore: handle optional agents health checks
  scripts/verify_chakra_monitoring.py
Owners: none

refactor: ensure pyo3 import brings FromPyObject
  NEOABZU/memory/tests/query.rs
Owners: @ABZU/neoabzu-memory

test: use typed arrays in dashboard tests
  docs/testing/failure_inventory.md
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Owners: none

test: inject RandomState stub for emotion classifier
  tests/test_emotion_classifier.py
Owners: none

Add OpenCV spec check and pin headless build
  tests/requirements.txt
  tests/test_transformers_generate.py
Owners: none

clarify python-multipart requirement
  dev-requirements.txt
  requirements.txt
Owners: none

add boot sequence test helpers
  razar/__init__.py
  tests/conftest.py
  tests/helpers/boot_config.json
  tests/helpers/boot_sequence.py
  tests/test_boot_sequence.py
Owners: none

handle optional agents health checks
  scripts/verify_chakra_monitoring.py
Owners: none

Include python-multipart in lock file
  requirements.lock
Owners: none
