Repository DINGIRABZU/ABZU, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ABZU/patents, @ABZU/neoabzu-core, @ABZU/neoabzu-memory, @ABZU/crown, @ABZU/spiral-os

.github/CODEOWNERS:

# This file defines code ownership for key areas of the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

patents/                 @ABZU/patents
NEOABZU/core/            @ABZU/neoabzu-core
NEOABZU/memory/          @ABZU/neoabzu-memory
crown_*.py               @ABZU/crown
src/spiral_os/           @ABZU/spiral-os

feat: add websockets dev dependency
  dev-requirements.txt
  requirements.lock
Owners: none

feat: expose novelty threshold
  src/core/feedback_logging.py
  src/feedback_logging.py
Owners: none

test: use boot resources from scripts
  tests/conftest.py
  tests/helpers/boot_config.json
  tests/helpers/boot_sequence.py
  tests/test_boot_sequence.py
Owners: none

refactor: centralize allowed tests management
  tests/conftest.py
Owners: none

feat: handle optional agents package
  scripts/verify_chakra_monitoring.py
Owners: none

Gate pyo3 extension modules behind feature flag
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/README.md
  NEOABZU/rag/Cargo.toml
  NEOABZU/rag/README.md
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/README.md
Owners: @ABZU/neoabzu-memory

test: use arrays for dashboard tests
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Owners: none

fix: inject RandomState object in test
  tests/test_emotion_classifier.py
Owners: none

refactor: centralize boot config for boot sequence
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/conftest.py
Owners: none

chore: guard chakra monitoring when agents missing
  scripts/verify_chakra_monitoring.py
Owners: none

Silence dead code warning in fusion module
  NEOABZU/Cargo.toml
  NEOABZU/fusion/src/lib.rs
Owners: none

feat: make pyo3 optional for extension builds
  NEOABZU/fusion/Cargo.toml
Owners: none

test(numeric): ensure cosine parity
  CHANGELOG.md
  NEOABZU/docs/core_usage.md
  NEOABZU/neoabzu/numeric.py
  NEOABZU/numeric/src/lib.rs
  tests/test_numeric_cosine_similarity.py
Owners: none

docs: add milestone roadmap
  CHANGELOG.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
Owners: none

docs: refine roadmap summary
  docs/doctrine_index.md
Owners: none

feat: enforce roadmap recency
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/doctrine_index.md
  docs/roadmap.md
  scripts/verify_docs_up_to_date.py
Owners: none

docs: add milestone roadmap
  CHANGELOG.md
  docs/roadmap.md
  docs/system_blueprint.md
Owners: none

docs: add Banana Rater spec
  docs/INDEX.md
  docs/banana_rater.md
  docs/doctrine_index.md
  docs/roadmap.md
Owners: none

Create Bana Narrator vision.md
  NEOABZU/docs/Bana Narrator vision.md
Owners: none

Create Scribe_narrative_engine.md
  NEOABZU/docs/Scribe_narrative_engine.md
Owners: none

docs: expand narrative vision and migration roadmap
  CHANGELOG.md
  NEOABZU/docs/Bana Narrator vision.md
  NEOABZU/docs/Scribe_narrative_engine.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Owners: none

docs: update milestone progress
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
Owners: none

docs: document datpars interface
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
Owners: none

chore: clarify python-multipart dependency
  dev-requirements.txt
  requirements.txt
Owners: none

Add boot sequence config and fixtures
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/agents/razar/test_boot_sequence.py
  tests/conftest.py
Owners: none

chore: guard chakra monitoring agent import
  scripts/verify_chakra_monitoring.py
Owners: none

chore: note file-upload dependency
  dev-requirements.txt
  requirements.txt
Owners: none

Use RandomState-capable RNG for emotion classifier
  ml/emotion_classifier.py
Owners: none

feat: mirror crown router in Rust
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/python_parity.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Owners: none

feat: instrument crown routing
  NEOABZU/crown/src/lib.rs
Owners: none

feat(crown): track boot time metric
  NEOABZU/crown/src/lib.rs
Owners: none

feat(crown): add optional opentelemetry spans
  NEOABZU/crown/src/lib.rs
Owners: none

crown: cache memory and eval
  NEOABZU/crown/src/lib.rs
Owners: none

test: parity metrics and validation
  NEOABZU/crown/tests/python_parity.rs
Owners: none

docs: note system coordination parity
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Owners: none

feat(rag): orchestrate hybrid retrieval
  CHANGELOG_rag_orchestrator.md
  NEOABZU/rag/README.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/retrieval.rs
  docs/INDEX.md
  docs/system_blueprint.md
Owners: none

feat: add PyO3 insight crate and crown integration
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/pyproject.toml
  crown_router.py
  onboarding_confirm.yml
Owners: @ABZU/crown

Add gRPC vector service
  NEOABZU/Cargo.lock
  NEOABZU/Reignition.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  NEOABZU/pyproject.toml
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/build.rs
  NEOABZU/vector/proto/vector.proto
  NEOABZU/vector/src/bin/server.rs
  NEOABZU/vector/src/lib.rs
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/grpc.rs
Owners: none

I updated doctrine_index.md to obtain accurate blueprint hashes, expecting registry audits to remain aligned
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/blueprint_spine.md
  docs/doctrine_index.md
  scripts/verify_crate_refs.py
Owners: none

chore: document rust crates in blueprint and ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  pyproject.toml
  scripts/verify_blueprint_refs.py
Owners: none
