Repository DINGIRABZU/ABZU, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ABZU/patents, @ABZU/neoabzu-core, @ABZU/neoabzu-memory, @ABZU/crown, @ABZU/spiral-os

docs: catalog narrative doctrine
  docs/doctrine_index.md
Owners: none

docs: reference narrative framework in protocol
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Owners: none

docs: add narrative onboarding references
  docs/developer_onboarding.md
  docs/onboarding/README.md
  docs/onboarding_guide.md
  onboarding_confirm.yml
Owners: none

docs: document narrative guides
  docs/KEY_DOCUMENTS.md
Owners: none

feat: scaffold nazarick console skeleton
  nazarick-console/backend/Cargo.toml
  nazarick-console/backend/src/main.rs
  nazarick-console/frontend/app.js
  nazarick-console/frontend/index.html
Owners: none

docs: add module migration playbooks
  docs/INDEX.md
  docs/migration_playbooks/crown.md
  docs/migration_playbooks/razor.md
  docs/migration_protocol.md
Owners: none

Add razor and inanna Rust crates and integrate chakra pulse
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/inanna/Cargo.toml
  NEOABZU/inanna/src/lib.rs
  NEOABZU/inanna/tests/basic.rs
  NEOABZU/razor/Cargo.toml
  NEOABZU/razor/src/lib.rs
  NEOABZU/razor/tests/route.rs
  nazarick-console/backend/Cargo.lock
  nazarick-console/backend/Cargo.toml
  nazarick-console/backend/src/main.rs
Owners: none

Rename razor crate to razar
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  NEOABZU/crown/tests/razar_integration.rs
  NEOABZU/kimicho/tests/razar_integration.rs
  NEOABZU/razar/Cargo.toml
  NEOABZU/razar/src/lib.rs
  NEOABZU/razar/tests/route.rs
  component_index.json
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/The_Absolute_Protocol.md
  docs/figures/razar_crown_kimicho_flow.mmd
  docs/figures/rust_crate_boundaries.mmd
  docs/migration_crosswalk.md
  docs/migration_playbooks/razar.md
  docs/narrative_framework.md
  docs/observability.md
  docs/system_blueprint.md
Owners: none

feat: add chakra mapping and pulse integrations
  bana/narrative.py
  config/albedo_config.yaml
  config/razar_config.yaml
  web_console/game_dashboard/chakraPulse.js
  web_console/game_dashboard/chatThreads.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
Owners: none

feat: add heart mediator for coordination
  connectors/heart_mediator.py
  crown_prompt_orchestrator.py
  operator_api.py
  servant_model_manager.py
  src/cli/console_interface.py
Owners: @ABZU/crown

Create videoa_agent_stack.md
  NEOABZU/docs/videoa_agent_stack.md
Owners: none

feat: add auth layers, benchmarks, and tests
  benchmarks/README.md
  benchmarks/rust_vs_python_path.py
  docs/INDEX.md
  docs/benchmarks/rust_vs_python.md
  docs/onboarding/external_contributors.md
  narrative_api.py
  nazarick-console/backend/src/main.rs
  neoabzu_chakrapulse/__init__.py
  tests/agents/test_event_bus.py
  tests/conftest.py
  tests/narrative/test_narrative_api.py
  tests/web_console/test_chakra_pulse_panel.py
Owners: none

Rename videoa_agent_stack.md to video_agent_stack.md
  NEOABZU/docs/video_agent_stack.md
Owners: none

feat(docs): add Nazarick Convex PoC
  NEOABZU/docs/index.md
  NEOABZU/docs/nazarick_convex_poc.md
  docs/INDEX.md
  docs/doctrine_index.md
Owners: none

crown: add validator routing and tests
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/razar_validator.rs
  NEOABZU/crown/tests/validator.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/system_blueprint.md
Owners: none

feat: wire kimicho fallback via PyO3
  CHANGELOG.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/kimicho/tests/razar_integration.rs
  razar/boot_orchestrator.py
Owners: none

feat(rag): add connector plugins and ranking
  NEOABZU/docs/connector_api.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/index.md
  NEOABZU/rag/src/connector.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/src/ranker.rs
  NEOABZU/rag/tests/plugins.rs
Owners: none

feat: add semantic insight hooks
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/insight.rs
  NEOABZU/crown/tests/insight_hooks.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
  docs/feature_parity.md
Owners: none

chore: bump pyo3 to 0.21.2
  NEOABZU/chakrapulse/Cargo.toml
  NEOABZU/core/Cargo.toml
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  NEOABZU/fusion/Cargo.toml
  NEOABZU/inanna/Cargo.toml
  NEOABZU/insight/Cargo.toml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/tests/query.rs
  NEOABZU/numeric/Cargo.toml
  NEOABZU/persona/Cargo.toml
  NEOABZU/rag/Cargo.toml
  NEOABZU/razar/Cargo.toml
  NEOABZU/vector/Cargo.toml
  crown/Cargo.toml
  docs/INDEX.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/doctrine_index.md
  docs/testing/failure_inventory.md
  numeric/Cargo.toml
  persona/Cargo.toml
  rag/Cargo.toml
Owners: @ABZU/neoabzu-core, @ABZU/neoabzu-memory

feat: add telemetry hooks and CI checks
  .github/workflows/neoabzu.yml
  CHANGELOG.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
  docs/observability.md
  rag/Cargo.toml
  rag/src/lib.rs
Owners: none

document Convex connector evaluation
  NEOABZU/docs/convex_connector_evaluation.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
Owners: none

test: parameterize rstar escalation threshold
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Owners: none

feat: add kimi2 and airstar agent escalation
  config/razar_ai_agents.json
  razar/ai_invoker.py
  razar/boot_orchestrator.py
Owners: none

Document escalation chain and link K2 Coder and rStar
  docs/system_blueprint.md
Owners: none

test: verify multi-agent escalation
  tests/test_boot_orchestrator.py
Owners: none

feat: share AI failure history across agents
  CHANGELOG_razar.md
  docs/system_blueprint.md
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Owners: none

doc: add APSU resource index and terminology fixes
  docs/INDEX.md
  docs/apsu_resource_index.md
  docs/onboarding/README.md
  docs/system_blueprint.md
Owners: none

docs: describe identity spine and add tests
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  identity_loader.py
  init_crown_agent.py
  tests/test_identity_loader.py
Owners: none

crown: derive model from orchestrator and add razar parity test
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/razar_legacy_parity.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/INDEX.md
  docs/system_blueprint.md
Owners: none

feat(rag): orchestrate multi-source retrieval
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/src/orchestrator.rs
  NEOABZU/rag/tests/multi_source_ranking.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Owners: none

feat(insight): add semantic metrics and docs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/edge_cases.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  pyproject.toml
Owners: none

feat(vector): instrument vector grpc
  NEOABZU/Reignition.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/vector/src/server.rs
  docs/INDEX.md
  docs/system_blueprint.md
Owners: none

docs: sync blueprint and ci for neoabzu v0.1.2
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/pyproject.toml
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
  pyproject.toml
  scripts/verify_pyo3_exposure.py
Owners: none

feat(crown): add identity loader and route validations
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/identity_load.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  identity_loader.py
  init_crown_agent.py
Owners: none

feat: add kimicho fallback for razar
  NEOABZU/docs/index.md
  NEOABZU/razar/src/lib.rs
  docs/blueprint_spine.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  docs/test_index.md
  tests/agents/razar/test_crown_kimicho.py
Owners: none

Normalize agent names for RAZAR handover
  component_index.json
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Owners: none

Use configurable agent failover order
  docs/system_blueprint.md
  onboarding_confirm.yml
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Owners: none

Document RAZAR failover configuration
  docs/system_blueprint.md
Owners: none

Add Crown semantic bridge to neoabzu_insight
  NEOABZU/docs/insight.md
  NEOABZU/insight/src/crown_bridge.rs
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/crown_bridge.rs
Owners: none

Document OS Guardian safeguards in blueprints
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Owners: none

.github/CODEOWNERS:

# This file defines code ownership for key areas of the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

patents/                 @ABZU/patents
NEOABZU/core/            @ABZU/neoabzu-core
NEOABZU/memory/          @ABZU/neoabzu-memory
crown_*.py               @ABZU/crown
src/spiral_os/           @ABZU/spiral-os
