Repository DINGIRABZU/ABZU, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ABZU/patents, @ABZU/neoabzu-core, @ABZU/neoabzu-memory, @ABZU/crown, @ABZU/spiral-os

Add Spiral OS components to index and update coverage
  component_index.json
  coverage.json
  coverage.mmd
  spiral_vector_db/__init__.py
  start_spiral_os.py
Owners: none

Ensure coverage export refreshes badge and validates htmlcov
  scripts/export_coverage.py
Owners: none

Ensure alpha gate stops on coverage export failure
  scripts/run_alpha_gate.sh
  tests/scripts/test_run_alpha_gate.py
Owners: none

Record alpha gate evidence with coverage HTML
  component_index.json
  coverage.svg
  logs/alpha_gate/20250920T065519Z/alpha_gate.prom
  logs/alpha_gate/20250920T065519Z/alpha_gate_summary.json
  logs/alpha_gate/20250920T065519Z/boot_metrics.prom
  logs/alpha_gate/20250920T065519Z/build.log
  logs/alpha_gate/20250920T065519Z/coverage.json
  logs/alpha_gate/20250920T065519Z/coverage.mmd
  logs/alpha_gate/20250920T065519Z/health_checks.log
  logs/alpha_gate/20250920T065519Z/htmlcov/.gitignore
  logs/alpha_gate/20250920T065519Z/htmlcov/class_index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/coverage_html_cb_6fb7b396.js
  logs/alpha_gate/20250920T065519Z/htmlcov/function_index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/spiral_memory_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/spiral_os.html
  logs/alpha_gate/20250920T065519Z/htmlcov/start_spiral_os_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/status.json
  logs/alpha_gate/20250920T065519Z/htmlcov/style_cb_6b508a39.css
  logs/alpha_gate/20250920T065519Z/htmlcov/vector_memory_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8___init___py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8___main___py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8__hf_stub_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_chakra_cycle_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_pulse_emitter_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_start_spiral_os_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_96fe5d16ef1bf033___init___py.html
  logs/alpha_gate/20250920T065519Z/tests.log
  logs/alpha_gate/latest
  monitoring/pytest_metrics.prom
  scripts/scan_todo_fixme.py
Owners: none

Update memory layer readiness terminology
  component_index.json
  docs/INDEX.md
  docs/component_index.md
  docs/figures/layer_init_broadcast.mmd
  docs/figures/layer_init_query_flow.mmd
  docs/figures/memory_bundle.mmd
  docs/figures/operator_query_sequence.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/memory_architecture.md
  docs/memory_layers_GUIDE.md
  scripts/check_memory_layers.py
  scripts/init_memory_layers.py
  tests/test_memory_bus.py
Owners: none

Expose memory diagnostics from PyO3 binding
  NEOABZU/memory/src/bin/memory_bootstrap.rs
  NEOABZU/memory/src/lib.rs
  memory/bundle.py
  tests/test_memory_bundle.py
  tests/test_neoabzu_bindings.py
Owners: @ABZU/neoabzu-memory

Add memory initialization telemetry and tests
  INANNA_AI/__init__.py
  INANNA_AI_AGENT/__init__.py
  component_index.json
  docs/monitoring/RAZAR.md
  docs/runbooks/razar_escalation.md
  monitoring/boot_metrics.py
  razar/boot_orchestrator.py
  scripts/bootstrap_memory.py
  scripts/bootstrap_world.py
  tests/test_memory_initialization_metrics.py
Owners: none

Enforce pydub audio backend and document Stage B checks
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  src/audio/check_env.py
  src/audio/segment.py
  start_spiral_os.py
Owners: none

Document DAW preflight guardrails
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  modulation_arrangement.py
  scripts/setup_audio_env.sh
Owners: none

Add audio telemetry instrumentation
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/monitoring/audio_rehearsal_telemetry.md
  docs/system_blueprint.md
  modulation_arrangement.py
  onboarding_confirm.yml
  src/audio/engine.py
  src/audio/telemetry.py
  state/crown_identity_fingerprint.json
  tests/test_audio_telemetry.py
Owners: none

Expand Neo-APSU MCP handshake
  component_index.json
  connectors/neo_apsu_connector_template.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/component_status.json
  docs/component_status.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_capability_payload.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  tests/connectors/test_neo_apsu_connector_template.py
Owners: none

Guard heartbeat when MCP disabled
  connectors/neo_apsu_connector_template.py
  tests/connectors/test_neo_apsu_connector_template.py
Owners: none

Add canonical heartbeat defaults and tests
  connectors/neo_apsu_connector_template.py
  tests/connectors/test_neo_apsu_connector_template.py
Owners: none

Restore failure inventory state
  docs/INDEX.md
  docs/communication_interfaces.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_heartbeat_payload.md
  schemas/mcp_heartbeat_payload.schema.json
Owners: none

Add connector doctrine compliance checks
  connectors/neo_apsu_connector_template.py
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/README.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  scripts/check_identity_sync.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_neo_apsu_connector_template.py
Owners: none

Add operator MCP adapter and Stage B rehearsal support
  .gitignore
  component_index.json
  connectors/operator_mcp_adapter.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/component_index.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_migration.md
  docs/connectors/operator_mcp_audit.md
  docs/index.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/stage_b_rotation_drills.jsonl
  onboarding_confirm.yml
  scripts/stage_b_smoke.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_operator_mcp_adapter.py
  tests/scripts/test_stage_b_smoke.py
Owners: none

Document memory bundle diagnostics telemetry
  docs/INDEX.md
  docs/figures/layer_init_broadcast.mmd
  docs/figures/layer_init_query_flow.mmd
  docs/figures/memory_bundle.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/memory_layers_GUIDE.md
Owners: none

Document memory initialization telemetry milestones
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  state/crown_identity_fingerprint.json
Owners: none

Document Stage B memory telemetry requirements
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Owners: none

docs: refresh operator mcp audit for adapter rollout
  docs/INDEX.md
  docs/connectors/operator_mcp_audit.md
Owners: none

Add memory load proof CLI and update Stage B docs
  docs/memory_layers_GUIDE.md
  docs/monitoring/RAZAR.md
  onboarding_confirm.yml
  scripts/memory_load_proof.py
Owners: none

Integrate operator MCP adapter and update documentation
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  operator_api.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_operator_api_mcp_flow.py
Owners: none

Add nightly operator MCP drill automation
  .github/workflows/nightly_ci.yml
  docs/INDEX.md
  docs/connectors/operator_mcp_audit.md
Owners: none

docs: I drafted MCP runbook on operator connectors to obtain Stage B recovery guidance expecting operators to execute doctrine-aligned drills
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/connectors/operator_mcp_audit.md
  docs/connectors/operator_mcp_runbook.md
  state/crown_identity_fingerprint.json
Owners: none

Document memory storage runtime reference
  docs/memory_architecture.md
Owners: none

Replace Chroma binary fixtures with deterministic stub
  onboarding_confirm.yml
  tests/INANNA_AI/test_origin_ingestion.py
  tests/README.md
  tests/conftest.py
  tests/fixtures/chroma_baseline/.gitignore
  tests/fixtures/chroma_baseline/__init__.py
  tests/fixtures/chroma_baseline/baseline.json
  tests/fixtures/chroma_baseline/fake_chroma.py
  tests/test_chat2db_integration.py
  tests/test_corpus_memory.py
  tests/test_spiral_vector_db.py
Owners: none

Document corpus ingestion workflow
  docs/INDEX.md
  docs/README.md
  docs/corpus_ingestion.md
Owners: none

Improve optional memory stub visibility before load tests
  memory/bundle.py
  scripts/check_memory_layers.py
  scripts/memory_load_proof.py
Owners: none

Add vector memory scaling benchmark and latency validation
  data/vector_memory_scaling/corpus.jsonl
  data/vector_memory_scaling/latency_metrics.json
  docs/INDEX.md
  docs/scaling/vector_db_scaling_checklist.md
  monitoring/vector_memory_scaling.py
  scripts/run_vector_memory_scaling.py
  tests/conftest.py
  tests/test_vector_memory_scaling.py
Owners: none

Add Stage B artifact exporter and readiness bundle
  logs/stage_b/20250920T222728Z/corpus.jsonl
  logs/stage_b/20250920T222728Z/ingestion_vector_memory_summary.json
  logs/stage_b/20250920T222728Z/latency_metrics.json
  logs/stage_b/20250920T222728Z/load_test_summary.json
  logs/stage_b/20250920T222728Z/stage_b_load_test.prom
  logs/stage_b/20250920T222728Z/stage_b_rotation_drills.jsonl
  logs/stage_b/latest
  monitoring/stage_b/20250920T222728Z/load_test_summary.json
  monitoring/stage_b/20250920T222728Z/stage_b_load_test.prom
  monitoring/stage_b/latest
  scripts/export_stage_b_artifacts.py
Owners: none

Document and provision audio extras stack
  dev-requirements.txt
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/audio_stack.md
  docs/blueprint_spine.md
  docs/dependency_registry.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  pyproject.toml
  requirements.txt
Owners: none

Document optional dependency fallbacks for rehearsals
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/monitoring/audio_rehearsal_telemetry.md
  docs/optional_dependency_fallbacks.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Owners: none

Add Stage B connector credential rotation playbook
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/credential_rotation_playbook.md
Owners: none

Add Stage B rehearsal packet generator
  component_index.json
  connectors/crown_handshake_stage_b.py
  connectors/neo_apsu_stage_b.py
  connectors/operator_api_stage_b.py
  connectors/operator_upload_stage_b.py
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_runbook.md
  docs/index.md
  docs/system_blueprint.md
  logs/stage_b_rehearsal_packet.json
  onboarding_confirm.yml
  scripts/generate_stage_b_rehearsal_packet.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_stage_b_connectors.py
Owners: @ABZU/crown

Add rehearsal scheduler automation and integrate connector health checks
  component_index.json
  monitoring/README.md
  scripts/health_check_connectors.py
  scripts/rehearsal_scheduler.py
  tests/scripts/test_rehearsal_scheduler.py
Owners: none

Document Stage B MCP rehearsal evidence
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
Owners: none

docs: outline stage guardrails in Absolute Protocol
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/testing/failure_inventory.md
  state/crown_identity_fingerprint.json
Owners: none

Restore real modules after server import in tests
  tests/test_server_endpoints.py
Owners: none

Add Stage B rehearsal pipeline and docs
  deployment/pipelines/stage_b_rehearsal.yml
  monitoring/README.md
Owners: none

Align stage B rehearsal timestamps with 20250924 run
  logs/stage_b_rehearsal_packet.json
Owners: none

.github/CODEOWNERS:

# This file defines code ownership for key areas of the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

patents/                 @ABZU/patents
NEOABZU/core/            @ABZU/neoabzu-core
NEOABZU/memory/          @ABZU/neoabzu-memory
crown_*.py               @ABZU/crown
src/spiral_os/           @ABZU/spiral-os
